/* вторичный цвет текста #212121 */
/* основной цвет текса #757575 */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* третий цвет фона #2F303A */



body {background-color: #FFFFFF; color: #757575; font-family: Roboto; }

ul {list-style: none;}

/* site-nav */
.site-nav .link {color: #212121;}
.site-nav .link:hover, .site-nav .link:focus {color: #2196F3;}

/* contact-header */
.contact-header .contact-header-link { color: #757575;}
.contact-header .contact-header-link:hover, .contact-header .contact-header-link:focus {color: #2196F3;}

/* section */
.hero-title {color: #FFFFFF; background-color:#2F303A;}
.hero-button {color: #FFFFFF; background-color: #2196F3;}
.section-feature-title {color: #212121;}
.section-title {color: #212121;}
.section-team {background-color: #F5F4FA;}
.team-name {color: #212121;}

/* футер */
.footer {background-color: #2F303A;}
.footer-address {color: #FFFFFF;}
.footer-mail { color: rgba(255, 255, 255, 0.6);}
.footer-tel { color: rgba(255, 255, 255, 0.6);}