/* вторичный цвет текста #212121 */
/* основной цвет текса #757575 */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* третий цвет фона #2F303A */

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto sans-serif;
}

ul {
  list-style: none;
}

/* logo */
.logo-1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}

/* site-nav */
.site-nav .nav-link {
  color: #212121;
}
.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}
.nav-link, .contact-header-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

/* contact-header */
.contact-header .contact-header-link {
  color: #757575;
}
.contact-header-link:hover,
.contact-header-link:focus {
  color: #2196f3;
}

/* section */
.hero-title {
  color: #ffffff;
  background-color: #2f303a;
}
.hero-button {
  color: #ffffff;
  background-color: #2196f3;
}
.section-feature-title {
  color: #212121;
}
.section-title {
  color: #212121;
}
.section-team {
  background-color: #f5f4fa;
}
.team-name {
  color: #212121;
}

/* футер */
.footer {
  background-color: #2f303a;
}
.footer-address {
  color: #ffffff;
}
.footer-address:hover,
.footer-address:focus {
  color: #2196f3;
}
.footer-mail {
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover,
.footer-mail:focus {
  color: #2196f3;
}
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel:hover,
.footer-tel:focus {
  color: #2196f3;
}
